﻿@model IEnumerable<NotificacionesSIGET.Models.Sector>

@{
    ViewData["Title"] = "Lista Sectores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Crear Nuevo</a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card card-s">
            <!-- card-header -->
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 30%;">
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>

                            <th style="width: 20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>

                                <td class="text-right">
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Editar</a>
                                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i> Detalles</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

