﻿@model NotificacionesSIGET.Models.Documento

@{
    ViewData["Title"] = "Creacion de documento";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="inputImagen" type="file" asp-for="FFArchivo" class="custom-file-input">
                            <label id="labelImagen" class="custom-file-label">Selecciona un archivo</label>
                            <span asp-validation-for="FFArchivo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="descripcion" class="control-label"></label>
                        <input asp-for="descripcion" class="form-control" />
                        <span asp-validation-for="descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoDocumentoId" class="control-label"></label>
                        <select asp-for="TipoDocumentoId" class="form-control" asp-items="ViewBag.TipoDocumentoId">
                            <option selected disabled>Selecione una opción</option>
                        </select>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Crear</button>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a lista</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#inputImagen').change(function (e) {
                var fileName = e.target.files[0].name;
                $("#labelImagen").text(fileName);
            });

            $('#inputImagen').change(function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#labelImagen').html(fileName);
            });

        });
    </script>
}

