﻿@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{


    <div class="text-center">
        <br />
        <br />
        <br />
        <br />
        <br />

        <h1 style="font-family: MuseoSans-500; color:#7a7e84">
            Te damos la bienvenida
        </h1>
        <br />
        <img src="~/img/SNE-SIGET.png" height="135" />
    </div>
}
else
{
    Context.Response.Redirect("identity/Account/Login");
}