﻿@model IEnumerable<NotificacionesSIGET.Models.Unidad>

@{
    ViewData["Title"] = "Lista de Unidades/Gerencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i>Crear Nuevo</a>
</p>


<div class="row">
    <div class="col-12">
        <div class="card card-s">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <div class="card-body p-3">
                <table id="dataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50%;">
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th style="width: 30%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td class="text-left">
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Editar</a>
                                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i> Detalles</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
