﻿@model VMRol

@{
    ViewData["Title"] = "Crear Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RolName" class="control-label"></label>
                        <input asp-for="RolName" class="form-control" />
                        <span asp-validation-for="RolName" class="text-danger"></span>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Crear</button>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a lista</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
     </div>
</div>
