﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Lista de Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
<a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Crear Nuevo</a>
</p>
<div class="row">
    <div class="col-12">
        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Exito!</h5>
                @ViewBag.Mensaje
            </div>
        }
        <div class="card">
            <div class="card-body table-responsive p-3">
                <table id="dataTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-right">
                                    <!-- a class="btn btn-warning text-right" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a -->
                                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id" title="Detalle"><i class="fas fa-eye"></i> Detalle</a>
                                    <!-- a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash"></i></a -->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
 </div>
