﻿@page
@model LoginModel

<div style="justify-content:center;display:flex">
    <img src="~/img/SNE-SIGET.png" height="100" />
</div>
<br />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header" style="background-color:#313945;font-family:MuseoSans-700;vertical-align: middle">
                Ingresa con tus datos para iniciar sesión.
            </div>
            <div class="login-card-body">
                <form id="account" method="post">
                        <div class="form-group" >
                            <img src="~/img/Usuario.png" height="20" />
                            <label asp-for="Input.Email" style="font-family:MuseoSans-500"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group" >
                            <img src="~/img/Contraseña.png" height="20" />
                            <label asp-for="Input.Password" style="font-family:MuseoSans-500"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <img src="~/img/Contraseña.png" height="20" tyle="background-color:#313945"/>
                            <button type="submit" class="btn btn-default btn-flat" style="font-family:MuseoSans-500;background-color:#313945;color:#ffffff">Ingresar</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
