﻿@model VMNotificado

@{
    ViewData["Title"] = "Creacion de Notificacion";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="inputImagen" type="file" asp-for="FFArchivo" class="custom-file-input">
                            <label id="labelImagen" class="custom-file-label">Selecciona un archivo</label>
                            <span asp-validation-for="FFArchivo" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" class="form-control" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input asp-for="Fecha" class="form-control" />
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnidadId" class="control-label"></label>
                        <select asp-for="UnidadId" class="form-control" asp-items="ViewBag.UnidadId"></select>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="EmpresaId" class="control-label"></label>
                        <select class="form-control select2" multiple="multiple" asp-for="ListaEmpresas" 
                                asp-items="ViewBag.EmpresaId" style="width: 100%;" ></select>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Crear</button>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a lista</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2()
        })
    </script>
}