﻿@model IEnumerable<Notificacion>

@{
    ViewData["Title"] = "Notificacion";
}


<div class="row">
    <div class="col-12">
        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Exito!</h5>
                @ViewBag.Mensaje
            </div>
        }
        <div class="card">
            <div class="card-body table-responsive p-3">
                <table id="dataTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Comentario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.documento)
                            </th>

                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr @(item.Notificado != 1 ? String.Empty : "style=background-color:lightgreen")>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comentario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.documento.Nombre)
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-primary" asp-action="DescargaArchivo" asp-route-id="@item.Id"><i class="fas fa-download"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("a").click(function () {

                setTimeout(function () {
                    location.reload();
                }, 1000);

            });
        });

        $(function () {
            $("#dataTable").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });

    </script>
}


