﻿@model NotificacionesSIGET.Models.Notificacion

@{
    ViewData["Title"] = "Editar Notificaciones";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    <div class="form-group" style="display: none">
                        <label asp-for="Notificado" class="control-label"></label>
                        <input asp-for="Notificado" class="form-control" />
                        <span asp-validation-for="Notificado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comentario" class="control-label"></label>
                        <input asp-for="Comentario" class="form-control" />
                        <span asp-validation-for="Comentario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnidadId" class="control-label"></label>
                        <select asp-for="UnidadId" class="form-control" asp-items="ViewBag.UnidadId"></select>
                        <span asp-validation-for="UnidadId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DocumentoId" class="control-label"></label>
                        <select asp-for="DocumentoId" class="form-control" asp-items="ViewBag.DocumentoId"></select>
                        <span asp-validation-for="DocumentoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmpresaId" class="control-label"></label>
                        <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                        <span asp-validation-for="EmpresaId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-5">
                            <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a la lista</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

