﻿@model IEnumerable<NotificacionesSIGET.Models.Notificacion>

@{
    ViewData["Title"] = "Detalle de Notificaciones";
}

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Crear Nuevo</a>
</p>
<div class="row">
    <div class="col-12">
        @if (ViewBag.Mensaje != null)
        {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-check"></i> Exito!</h5>
            @ViewBag.Mensaje
        </div>
        }
        <div class="card">
            <div class="card-body table-responsive p-3">
                <table id="dataTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Comentario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.unidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.documento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.empresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PublicadoPor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaDescarga)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr @(item.Notificado == 0 ? String.Empty : "style=background-color:lightgreen")>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comentario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.unidad.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.documento.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empresa.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublicadoPor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @if(item.Notificado == 0){
                                @Html.DisplayFor(modelItem => item.FechaDescarga)
                                }
                            </td>
                            <td class="text-right">
                                @*<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id" title="Detalle"><i class="fas fa-eye"></i></a>*@
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash"></i></a>
                                <button class="btn btn-info" id="ReenviaMail" onclick="reenviar(@item.Id)"><i class="fas fa-envelope"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#dataTable").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });

        function reenviar(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ReenviaMail","Notificaciones")',
                data: {id: id},
                contentType: "application/json",
                success: function (data) {
                    if (data) {
                        alert("Se realizo en reenvio del correo.");
                    }
                }
            });
        }
    </script>
}
