﻿@model NotificacionesSIGET.Models.TipoPersona


@{
    ViewData["Title"] = "Detalle Tipo Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-warning btn-flat btn-block" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i> Editar</a>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>