﻿@model NotificacionesSIGET.Models.Empresa

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">
                    ¿Esta seguro de eliminar este elemento?
                </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.sector)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.sector.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Representante)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Representante)
                    </dd>
                </dl>
            </div>

            <div class="card-footer">
                <form asp-action="Delete">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-flat btn-block" />
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a la lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>