﻿@model IdentityUser
@{
    ViewData["Title"] = "Cambio de Clave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <form asp-action="CambioClave">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label">Usuario: </label>
                        <input id="Text1" type="text" readonly="readonly" class="form-control" asp-for="UserName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contraseña: </label>
                        <input id="pwd1" name="pwd1" type="password" class="form-control" minlength=6 required />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Repite contraseña:</label>
                        <input id="pwd2" name="pwd2" type="password" class="form-control" minlength=6 required />
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            @*<button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>*@
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            @*<a class="btn btn-default btn-flat btn-block" asp-action="Index" asp-controller="Home"><i class="fas fa-chevron-left"></i> Regresar a la lista</a>*@
                            <button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
