﻿@model VMUsuario

@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
            </div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    @*<div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
        </div>*@
                    <div class="form-group">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly="readonly" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RolId" class="control-label"></label>
                        <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                        <span asp-validation-for="RolId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmpresaId" class="control-label"></label>
                        <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                        <span asp-validation-for="EmpresaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoPersonaId" class="control-label"></label>
                        <select asp-for="TipoPersonaId" class="form-control" asp-items="ViewBag.TipoPersonaId"></select>
                        <span asp-validation-for="TipoPersonaId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success btn-flat btn-block"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default btn-flat btn-block" asp-action="Index"><i class="fas fa-chevron-left"></i> Regresar a la lista</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
