﻿@model IEnumerable<NotificacionesSIGET.Models.GrupoEmpresa>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        @foreach (var item in Model)
        {

            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Empresa.Nombre)
            </dd>
        }
        </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model. .Grupo.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
