﻿@model IEnumerable<VMReporte>

@{
    ViewData["Title"] = "Reporte de notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-3">
                    <table id="dataTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Comentario)</th>
                                <th>@Html.DisplayNameFor(model => model.FechaCarga)</th>
                                <th>@Html.DisplayNameFor(model => model.fechaDescarga)</th>
                                <th>@Html.DisplayNameFor(model => model.NombreDocumento)</th>
                                <th>@Html.DisplayNameFor(model => model.DescripcionDocumento)</th>
                                <th>@Html.DisplayNameFor(model => model.NumeroDocumento)</th>
                                <th>@Html.DisplayNameFor(model => model.UnidadNombre)</th>
                                <th>@Html.DisplayNameFor(model => model.EmpresaNombre)</th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Comentario)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FechaCarga)</td>
                                    <td>@Html.DisplayFor(modelItem => item.fechaDescarga)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NombreDocumento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DescripcionDocumento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumeroDocumento)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UnidadNombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmpresaNombre)</td>
                                    @*<td class="text-right">
                            <a class="btn btn-warning text-right" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id" title="Detalle"><i class="fas fa-eye"></i> Detalle</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="fas fa-trash"></i></a>
                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $("#dataTable").DataTable({
                "responsive": true,
                "autoWidth": false,
                "language": {
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "lengthMenu": "Mostrar _MENU_ Registros por pagina",
                },
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel'
                ]
            }) 
        });

    </script>
}
