﻿@inject SignInManager<AppUser> SignInManager
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/img/logo_goes.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span style="font-family:museoSans-700-Regular">SIGET</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/man.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/Home/index" class="d-block">@User.Identity.Name</a>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User) )
        {
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-header">ACCIONES</li>
                    <!-- Empleados -->
                    @if (User.IsInRole("Notificador"))
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-id-card"></i>
                                <p>
                                    Notificaciones
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Documentos" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Documentos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Notificaciones" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Notificaciones</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-id-card"></i>
                                <p>
                                    Administracion
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Empresas" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Empresas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Usuarios" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-id-card"></i>
                                <p>
                                    Reporte
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Reportes" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Reporte</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        }
                        <!-- Administrador -->
                        @if (User.IsInRole("Administrador"))
                        {

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-list-alt"></i>
                                    <p>
                                        Administracion
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Usuarios" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Usuarios</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Roles" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Roles</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Empresas" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Empresas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Unidades" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Unidades</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Sectores" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Sectores</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Parametros" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Parametros</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="TipoDocumentos" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Tipo Documento</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="TipoPersonas" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Tipo Persona</p>
                                        </a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a asp-controller="Grupos" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Grupos</p>
                                        </a>
                                    </li>*@
                                </ul>
                            </li>
                        }
                        <!-- usuario  -->
                        @if (User.IsInRole("Usuario"))
                        {

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-list-alt"></i>
                                    <p>
                                        Notificaciones
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Notificaciones" asp-action="Detalle" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Notificaciones</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
            </nav>
            <!-- /.sidebar-menu -->
        }
    </div>
    <!-- /.sidebar -->
</aside>